@{
    var usuarioNome = Context.User.Identity.Name;
    var usuarioLogado = Context.User.Identity.IsAuthenticated;
}

<link rel="stylesheet" href="~/css/layout/header.css">


<header class="container-header bg-header z-index-3">
    <section class="container-header-item">
        <button class="btn-header-toggle ms-3" id="btn-header-toggle" data-state="false">
            <span class="icon-header-toggle">
                <i class="fa-solid fa-bars"></i>
            </span>
        </button>
        <a class="btn-header-logo ms-3" asp-area="" asp-controller="Home" asp-action="Index">
            <span class="icon-header-logo">
                <span class="ms-2 desc-header-logo">Concessionária</span>
            </span>
        </a>
    </section>
    <section class="container-header-item">
        @if (usuarioLogado)
        {
            <div class="d-flex me-5">
                <div>
                    <a class="dropdown-item  text-light" asp-controller="Fabricante" asp-action="Listar" title="Listar Fabricante" data-page="Fabricante">
                        @usuarioNome
                    </a>
                </div>
                <div>
                    <a class="dropdown-item  text-light" asp-controller="Login" asp-action="Logout" title="Listar Fabricante" data-page="Fabricante">
                        Sair
                    </a>
                </div>
            </div>
        }
        else
        {
            <div class="d-flex me-5">
                <div>
                    <a class="dropdown-item  text-dark" asp-controller="Login" asp-action="Index" data-page="Fabricante">
                        Entrar
                    </a>
                </div>
                <div>
                    <a class="dropdown-item  text-dark" asp-controller="Login" asp-action="Registrar" data-page="Fabricante">
                        Registra-se
                    </a>
                </div>
            </div>
        }
    </section>
</header>
