@model ConcessionariaApp.Application.Dtos.Fabricantes.CadastrarFabricanteDTO
@{
    ViewData["Title"] = "Fabricante";
}
<style>
    .validation-summary-errors {
        background: #ff00003d;
        border-radius: 8px;
        list-style: none;
        padding: 0;
        margin: 0;
    }

        .validation-summary-errors ul {
            padding:10px;
        }

        .validation-summary-errors li {
            list-style: none;
        }

    .btn-color-custom {
        background-color: chocolate !important;
        color: white;
    }
</style>
<div class="container d-flex justify-content-center align-items-center mt-3">
    <div class="col-md-12">
        <div class="card shadow-sm">
            <div class="card-body">
                <h4 class="text-start mb-2 p-1">Adicionar Fabricante</h4>
                <form class="p-2" asp-action="Cadastrar" asp-controller="Concessionaria" id="Form" method="post">
                    @Html.ValidationSummary(true, "", new { @class = "summary-custom" })
                    @Html.AntiForgeryToken()
                    <div class="row">
                        <div class="mb-2 col-12">
                            <label asp-for="Nome" class="form-label"></label>
                            <input asp-for="Nome" class="form-control" maxlength="100" placeholder="Digite o nome do fabricante" required />
                            <span asp-validation-for="Nome" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row">
                        <div class="mb-2 col-3">
                            <label asp-for="PaisOrigem" class="form-label"></label>
                            <input asp-for="PaisOrigem" class="form-control" maxlength="100" placeholder="Digite o país de origem" />
                            <span asp-validation-for="PaisOrigem" class="text-danger"></span>
                        </div>
                        <div class="mb-2 col-3" id="div-rua">
                            <label asp-for="AnoFundacao" class="form-label"></label>
                            <input asp-for="AnoFundacao" type="number" class="form-control" placeholder="Digite o ano de fundação" />
                            <span asp-validation-for="AnoFundacao" class="text-danger"></span>
                        </div>
                        <div class="mb-2 col-3 " id="div-cidade">
                            <label asp-for="WebSite" class="form-label"></label>
                            <input asp-for="WebSite" class="form-control" placeholder="Digite o website do fabricante" />
                            <span asp-validation-for="WebSite" class="text-danger"></span>
                        </div>
                    </div>
                    <div class="row justify-content-end">
                        <div class="col-4 text-end">
                            <button type="submit" class="btn btn-color-custom col-6 text-center ">Salvar</button>
                        </div>
                    </div>
                </form>
            </div>
        </div>
    </div>
</div>

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>

<script>
    $(document).ready(function () {
        
        $('#registroForm').submit(function (e) {
            param = {
                'Nome': $('#Nome').val(),
                'PaisOrigem': $('#PaisOrigem').val(),
                'AnoFundacao': parseInt($('#AnoFundacao').val(), 10),
                'WebSite': $('#WebSite').val(),
            }

            e.preventDefault(); 
            $.ajax({
                url: '@Url.Action("Criar", "Fabricante")', 
                type: 'POST',
                data: JSON.stringify(param),
                contentType: "application/json; charset=utf-8",
                dataType: "json",
                headers: {
                    'RequestVerificationToken': $('input[name="__RequestVerificationToken"]').val()
                },
                beforeSend: () => {
                    AdicionarLoading()
                }
            }).done(function (response) {
                console.log(response)
                if (response.sucesso) {
                    $('.summary-custom').empty();
                    $('#registroForm')[0].reset(); 
                    RemoverLoading()
                    MenssagemSucesso(response.menssagem)
                } else {
                    updateValidationSummary(response.menssagem)
                    RemoverLoading()
                    MenssageAlerta(response.menssagem)
                }
            }).fail(function (jqXHR, textStatus, msg) {
                RemoverLoading()
                MenssagemErro("Não foi possível prosseguir com a solicitação.");
            });
            return false
        });
    });

    function updateValidationSummary(message) {
        $('.summary-custom').empty();
        $('.summary-custom').append('<ul><li>' + message + '</li></ul>');
    }
</script>