@model ConcessionariaApp.Application.Dtos.Autenticacao.AutenticarUsuarioDTO 
@{
    ViewData["Title"] = "Login";
}

<div class="container d-flex justify-content-center align-items-center mt-5">
    <div class="col-md-4">
        <div class="card shadow-sm">
            <div class="card-body">
                <h3 class="text-center mb-4">Login</h3>
                <form asp-action="Index" method="post">
                    <div class="mb-3">
                        <label asp-for="Email" class="form-label">Email</label>
                        <input asp-for="Email" type="email" class="form-control" placeholder="Digite seu email" value="Email">
                        <span asp-validation-for="Email"></span>
                    </div>
                    <div class="mb-3">
                        <label asp-for="Senha" class="form-label">Senha</label>
                        <input input asp-for="Senha" type="password" class="form-control" placeholder="Digite sua senha">
                        <span asp-validation-for="Senha"></span>
                    </div>
                    <div class="d-grid">
                        <button type="submit" class="btn btn-primary">Entrar</button>
                    </div>
                </form>
                <div class="mt-3 text-center">
                    <span>Não tem uma conta? <a asp-controller="Login" asp-action="Registrar">Cadastre-se</a></span>
                </div>
            </div>
        </div>
    </div>
</div>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.0/jquery.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validation-unobtrusive/3.2.12/jquery.validate.unobtrusive.js"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery.mask/1.14.16/jquery.mask.min.js"></script>
