.z-index-3 {
    z-index: 1003 !important;
}

.z-index-2 {
    z-index: 1002 !important;
}

.z-index-1 {
    z-index: 1001 !important;
}

.validation-summary-errors {
    background: #ff00003d;
    border-radius: 8px;
    list-style: none;
    padding: 0;
    margin: 0;
}

    .validation-summary-errors ul {
        padding: 10px;
    }

    .validation-summary-errors li {
        list-style: none;
    }

.btn-color-custom {
    background-color: chocolate !important;
    color: white;
}